.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  width: 100%;
}

.header_icon {
  object-fit: contain;
  height: 60px;
  margin-left: 20px;
}

.header_center {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-left: 20px;
}

.header_searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgrey;
  border-radius: 999px;
}
.header_searchBar:hover {
  box-shadow: 0px 6px 10px -9px rgba(0, 0, 0, 0.75);
}

.header_searchBar > input {
  border: none;
  outline: none;
  width: 250px;
  font-weight: 700;
  font-size: 14px;
  color: black;
}

.header_searchBar > input::placeholder {
  color: rgb(70, 67, 67);
}

.header_searchBar > svg {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  padding: 5px;
}

.header_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 80px;
}

.header_right > p {
  padding: 10px;
}

.header_right > p:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.header_globe {
  margin: 0 15px;
  padding: 10px;
}

.header_globe:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 30px;
}

.header_avatarContainer {
  display: flex;
  align-items: center;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 50px;
  background-color: #fff;
}

.header_avatarContainer:hover {
  box-shadow: 0px 6px 10px -9px rgba(0, 0, 0, 0.75);
}

.header_Dehaze {
  margin-left: 6px;
  margin-right: 10px;
}

.header_avatar {
  height: 30px !important;
  width: 30px !important;
}

@media only screen and (max-width: 950px) {
  .header_center {
    justify-content: start;
  }
}
