.home_section {
  display: flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
}

.home_specialLocation {
  display: flex;
  padding: 30px;
  padding-bottom: 0;
  justify-content: space-between;
  align-items: center;
}
